<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Voting Widget</title>
    <% preact.headEnd %>
    <style>
      .container {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        margin: 1rem 0;
        height: 200vh;
      }
    </style>
  </head>
  <body>
    <div id="container" class="container">
      <discord-collector></discord-collector>
      <discord-button></discord-button>
    </div>

    <vote-ballot></vote-ballot>
    <projects-data></projects-data>
    <panelists-data></panelists-data>
    <% preact.bodyEnd %>
  </body>
</html>
<!DOCTYPE html>
