<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Voting Widget</title>
    <% preact.headEnd %>
    <style>
      .container {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        margin: 1rem 0;
        height: 200vh;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <discord-collector></discord-collector>

      <discord-button></discord-button>

      <vote-button
        name="Awesome Project 1"
        slug="awesome-project-1"
      ></vote-button>
      <vote-button
        name="Awesome Project 2"
        slug="awesome-project-2"
      ></vote-button>
      <vote-button
        name="Awesome Project 3"
        slug="awesome-project-3"
      ></vote-button>
      <vote-button
        name="Awesome Project 4"
        slug="awesome-project-4"
      ></vote-button>
      <vote-button
        name="Awesome Project 5"
        slug="awesome-project-5"
      ></vote-button>
      <vote-button
        name="Awesome Project 6"
        slug="awesome-project-6"
      ></vote-button>
      <vote-button
        name="Awesome Project 7"
        slug="awesome-project-7"
      ></vote-button>
      <vote-button
        name="Awesome Project 8"
        slug="awesome-project-8"
      ></vote-button>
      <vote-button
        name="Awesome Project 9"
        slug="awesome-project-9"
      ></vote-button>
      <vote-button
        name="Awesome Project 10"
        slug="awesome-project-10"
      ></vote-button>
      <vote-button
        name="Awesome Project 11"
        slug="awesome-project-11"
      ></vote-button>
      <vote-button
        name="Awesome Project 12 is the greatest project ever with the greatest features ever!"
        slug="awesome-project-12"
      ></vote-button>
    </div>

    <vote-ballot></vote-ballot>
    <% preact.bodyEnd %>
  </body>
</html>
<!DOCTYPE html>
